{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Submit your result' %}</h4>

    <form enctype="multipart/form-data" method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
        
        <li>
            Please submit your images in a single .zip file.
        </li>
        <li>
            Title would be add on the top of csv.
        </li>
        <li>
            Each .zip file should not exceed 500 images.
        </li>
        <li>
            Each .zip file could only contain .png, .jpg and should not exceed 2.0MB.
        </li>
        <li>
            You still have {{ submit_times }} submissions remaining today!
        </li>

        {% if show_link %}
        <li>
            <a href="{% url 'accounts:download' %}">Download result.csv submitted successful at {{ submission_time }}</a>
        </li>
        {% endif %}
    </form>

{% endblock %}
