{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Submit your result' %}</h4>

    <form enctype="multipart/form-data" method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
        
        {% if show_link %}
        <li>
            <a href="{% url 'accounts:download' %}">{% trans 'Download last result.csv' %}</a>
        </li>
        {% endif %}
    </form>

{% endblock %}
